*{
    margin:0px;
    padding:0px;
    border-radius: border-box;

}
.container{
    display:flex;
    justify-content: :center;
    align-items:center;
    padding:0px 90px;
    width:100%;
    min-height:100vh;
    background-color:pink;
}
.container-section{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:20px;
}





@media screen and(max-width:768px){
    
        flex-direction:column;
    
}