*{
    margin:0px;
    padding:0px;
    border-radius: border-box;
}
.heading{
   display:flex;
   font-size: 30px;
   justify-content: center;
}
.container1{
    display:flex;
    height:160vh;
    width:100vw;
    font-size:10px;
}
.sub-heading{
    font-size:15px;
    color:black;
    font-weight:bold;

}
.hd1{
    font-size: 9px;
    color:aqua;
}

 .hd2{
    font-size: 9px;
    color:yellow;
}   
    
.hd3{
    font-size: 9px;
    color:green;
}    
.btn{
    font-size: 15px;
    color:white;
    margin:auto;
    border-radius:10px;
    
   
}
    